<h3>Can you validate an email?</h3>
<form name="form" ng-app>
    <div class="control-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
        <label class="control-label" for= "email" >Your email address</label>
        <div class="controls">
            <input type="email" name="email" ng-model="email.text" required />
            <span class="help-inline" ng-show="submitted && form.email.$error.required">Required</span>
            <span class="help-inline" ng-show="submitted && form.email.$error.email">Invalid email</span>
        </div>
    </div><br/>

    <div class="control-group" ng-class="{true:'error'}[submitted && form.text.$invalid]">
        <label class="control-label" for = "text" >Subject</label>
        <div class = "controls">
        <input type="text" name="text" ng-model="text" required /><br/>
            <span class="help-inline" ng-show="submitted && form.text.$error.required"> Required</span>
            <span class="help-inline" ng-show="submitted && form.text.$error.text">Invalid message</span>
        </div>
    </div><br/>
    <div class="control-group" ng-class="{true:'error'}[submitted && form.msg.$invalid]">
        <label class="control-label" for = "text" >Subject</label>
        <div class = "controls">
            <textarea type="text" name="msg" class="form-control" rows="20" ng-model="textarea" ng-minlength="3"
                      ng-maxlength="255" required/></textarea><br/>
            <span class="help-inline" ng-show="submitted && form.msg.$error.required"> Required</span>
			<span ng-show=" submitted && form.msg.$error.minlength">You message must be higher than 3<!</span>
			<span ng-show=" submitted && form.msg.$error.maxlength">You message must be lower than 255<!</span>
            <span class="help-inline" ng-show="submitted && form.msg.$error.msg">/span>
        </div>
    </div><br/>
		<button type="submit" class="btn btn-primary btn-large" ng-click="submitted=true">Submit</button>
		<span ng-show=" submitted && form.$valid ">Is valid<!</span>

</form>